:root {
    // --primary-color: #EDE4C5;
    --primary-color: linear-gradient(90deg, #48c5db 0%, #38c4dc 32.29%, #18bdff 71.35%, #00c3ff 95.31%);
    --secondary-color: #001428;
    --button-color: #34b1ff;
    --light-color: #ffffff;
    --dark-color: #000;
    --text-color: #bdbdbd;
    --card-color: #2d343c;
}